<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>chara-detail</title>
	<script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>
	<link rel="stylesheet" href="../styles/reset.css"/>
	<link rel="stylesheet" href="../styles/icon.css"/>
	<link rel="stylesheet" href="../styles/chara-detail/app.css"/>
</head>
<body>

<div id="app"></div>

<script type="module">
	import App from "../components/chara-detail/app.js";

	Vue.createApp(App).mount("#app");
</script>

</body>
</html>

<style>
	#app {
		width: 1800px;
	}
</style>